In [59]:
import pandas as pd 
import numpy as np
import os
import re
from pprint import pprint
from ast import literal_eval

In [2]:
training = pd.read_excel('data/training_data_210922.xlsx')

c:\Users\motaz\AppData\Local\Programs\Python\Python310\lib\site-packages\openpyxl\worksheet\_reader.py:312: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

In [3]:
training

,brand_name,hecs_name,vertical,collect
0,El Cerdo,['Fine Dining'],['Hospitality'],manually
1,PHENAKITE RESTAURANT,['Fine Dining'],['Hospitality'],manually
2,Dusit,['Fine Dining'],['Hospitality'],manually
3,restaurant story,['Fine Dining'],['Hospitality'],manually
4,Sublimotion – Ibiza,['Fine Dining'],['Hospitality'],manually
...,...,...,...,...
14666,Mansion on Sutter San Francisco - Luxury 5 Sta...,['Hotel'],['Hospitality'],manually
14667,La Maison Hotel,['Hotel'],['Hospitality'],manually
14668,Rest - A Boutique Hotel,['Hotel'],['Hospitality'],manually
14669,Urban Boutique Hotel,['Hotel'],['Hospitality'],manually
14670,NCR Local - Tri-State,['Quick Service'],['Hospitality'],NaN

In [4]:
training.describe()

,brand_name,hecs_name,vertical,collect
count,14671,14671,14671,14670
unique,13558,285,5,1
top,Golden Corral Buffet & Grill,['Casual Dining'],['Hospitality'],manually
freq,9,1688,14487,14670

In [5]:
training.isna().sum()

brand_name    0
hecs_name     0
vertical      0
collect       1
dtype: int64

In [16]:
hecs_names = training['hecs_name'].unique()
hecs_names

array(["['Fine Dining']", "['Bakery']", "['Bakery', 'Food']", "['Food']",
       "['Casual Dining']", "['Bakery', 'Cafe']",
       "['Casual Dining', 'Bakery']", "['B&B']", "['Casinos', 'Hotel']",
       "['Casinos']", "['Casinos', 'Resort']", "['Quick Service']",
       "['Quick Casual']", "['Cafe']", "['Cafe', 'Bakery']",
       "['Electronics']", "['Catering']", "['Club']",
       "['Catering', 'Casual Dining']", "['Casual Dining', 'Catering']",
       "['Catering', 'Cafe']", "['Catering', 'Quick Casual']",
       "['Catering', 'Quick Service']", "['Cafe', 'Quick Casual']",
       "['Cafe', 'Fine Dining']", "['Cafe', 'Bar']",
       "['Quick Casual', 'Bakery']", "['Bar', 'Fine Dining']", "['Bar']",
       "['Bar', 'Casual Dining']", "['Bar', 'Pub']", "['Pub']",
       "['Bar', 'Casinos']", "['Pub', 'Casinos']",
       "['Resort', 'Casinos']", "['Casinos', 'Catering']",
       "['Pub', 'Fine Dining']", "['Bar', 'Quick Casual']",
       "['Bar', 'Catering']", "['Bar', 'Casual Dining', 'Casinos']",
       "['Personal Goods']", "['Catering', 'Bar', 'Casual Dining']",
       "['Bar', 'Pub', 'Casinos']", "['Bar', 'Cafe']",
       "['Pub', 'Casual Dining']", "['Bar', 'Casinos', 'Casual Dining']",
       "['Bar', 'Casinos', 'Pub']", "['Bar', 'Club']", "['Camping']",
       "['Camping', 'Park']", "['Resort']", "['Motel']",
       "['Motel', 'Camping']", "['Motel', 'Bar', 'Casual Dining']",
       "['Hotel']", "['Casual Dining', 'Bar']", "['Cinema/Theater']",
       "['Park']", "['Club', 'Bar', 'Fine Dining']", "['Club', 'Park']",
       "['Cinema/Theater', 'Casual Dining']", "['Quick Casual', 'Park']",
       "['Park', 'Casual Dining']", "['Park', 'Club']",
       "['Club', 'Casual Dining', 'Bar']",
       "['Casinos', 'Hotel', 'Resort']", "['Bar', 'Hotel']",
       "['Casinos', 'Bar', 'Casual Dining']",
       "['Fine Dining', 'Quick Casual']", "['Cafe', 'Quick Service']",
       "['Camping', 'Resort']", "['Bakery', 'Cafe', 'Quick Casual']",
       "['Quick Casual', 'Quick Service']",
       "['Cinema/Theater', 'Catering']", "['Camping', 'Hotel']",
       "['Catering', 'Casinos']", "['Resort', 'Cafe']",
       "['Casual Dining', 'Bar', 'Pub']", "['Hotel', 'Resort']",
       "['Park', 'Bar', 'Cafe']", "['Quick Casual', 'Bar']",
       "['Cafe', 'Casual Dining']", "['Quick Casual', 'Cafe']",
       "['Camping', 'Hotel', 'Resort']",
       "['Fine Dining', 'Casual Dining']", "['Casual Dining', 'Cafe']",
       "['Camping', 'Pub']", "['Casinos', 'Bar']",
       "['Park', 'Cafe', 'Bar', 'Catering']",
       "['Bar', 'Fine Dining', 'Resort']", "['Resort', 'Hotel']",
       "['Bar', 'Hotel', 'Casinos']", "['Pub', 'Bar']",
       "['Camping', 'Resort', 'Park']",
       "['Casinos', 'Hotel', 'Resort', 'Club']", "['Hotel', 'Catering']",
       "['Club', 'Bar']", "['Park', 'Bar']",
       "['Bar', 'Pub', 'Casual Dining']", "['Bar', 'Casinos', 'Hotel']",
       "['Casinos', 'Cinema/Theater']", "['Fine Dining', 'Bar']",
       "['Bar', 'Casual Dining', 'Pub']", "['Casual Dining', 'Hotel']",
       "['Fine Dining', 'Food']", "['Park', 'Catering']",
       "['General Store']", "['Casual Dining', 'Quick Service']",
       "['Casual Dining', 'Pub', 'Cafe']", "['Casinos', 'Quick Casual']",
       "['Club', 'Catering']", "['Club', 'Cinema/Theater']",
       "['Pub', 'B&B']", "['Casinos', 'Motel']",
       "['Bakery', 'Casual Dining']", "['Bakery', 'Catering']",
       "['Casual Dining', 'Pub']", "['Cafe', 'Catering']",
       "['Casinos', 'Catering', 'Hotel']", "['Camping', 'Cafe']",
       "['Cinema/Theater', 'Casinos', 'Club']", "['Fine Dining', 'Cafe']",
       "['Cinema/Theater', 'Bar']", "['Park', 'Cafe', 'Bar']",
       "['Club', 'Cafe', 'Food']", "['Park', 'Cafe']",
       "['Food', 'Electronics']", "['Catering', 'Hotel', 'Resort']",
       "['Bar', 'Cafe', 'Casinos', 'Hotel', 'Resort']",
       "['Catering', 'Food']", "['Camping', 'Motel']",
       "['Club', 'Cafe', 'Catering']", "['Hotel', 'Casinos']",
       "['Casinos', 'General Store']", "['Cinema/Theater', 'Cafe']",
       "['Bar', 'Casinos', 'Hotel', 'Resort']",
       "['Bakery', 'Cafe', 'Food']", "['Bakery', 'Bar']",
       "['Casinos', 'Park', 'Resort']",
       "['Bar', 'Fine Dining', 'Cinema/Theater']",
       "['Club', 'Bar', 'Cafe']", "['Camping', 'Fine Dining', 'Cafe']",
       "['Bar', 'Hotel', 'Resort']", "['Bar', 'Casinos', 'Resort']",
       "['Catering', 'Hotel']", "['Casinos', 'Hotel', 'Camping']",
       "['Camping', 'Resort', 'Hotel']",
       "['Pub', 'Bar', 'Casual Dining']", "['Other']",
       "['Park', 'Resort']", "['Cafe', 'Food']",
       "['Hotel', 'Resort', 'Casinos']", "['Park', 'Casinos']",
       "['Fine Dining', 'Bakery', 'Cafe', 'Bar']", "['Club', 'Resort']",
       "['Hotel', 'Pub']", "['Pub', 'Hotel', 'Bar']",
       "['Casual Dining', 'Quick Casual']", "['Park', 'Club', 'Resort']",
       "['Cafe', 'Hotel']", "['Bakery', 'Hotel']",
       "['Personal Goods', 'Food']", "['Bar', 'Casinos', 'Catering']",
       "['Bakery', 'Quick Casual']", "['Camping', 'Resort', 'Buffet']",
       "['Park', 'Club', 'Catering']",
       "['Bar', 'Casinos', 'Quick Casual']",
       "['Fine Dining', 'Catering']",
       "['Hotel', 'Resort', 'Cinema/Theater']", "['Club', 'Cafe', 'Bar']",
       "['Cafe', 'Catering', 'Quick Casual']", "['Club', 'Quick Casual']",
       "['Catering', 'Hotel', 'Club']",
       "['Club', 'Quick Casual', 'Park']",
       "['Cafe', 'Quick Service', 'Catering']",
       "['Cinema/Theater', 'Casinos']",
       "['Cinema/Theater', 'Catering', 'Bar']",
       "['Club', 'Quick Service']", "['Camping', 'B&B']",
       "['Club', 'Park', 'Bar', 'Cafe']",
       "['Park', 'Club', 'Cinema/Theater']",
       "['Camping', 'Hotel', 'Park']", "['Park', 'Club', 'Bar']",
       "['Club', 'Bar', 'Catering']",
       "['Quick Service', 'Casual Dining']",
       "['Casual Dining', 'Bar', 'Cafe']", "['Casual Dining', 'Park']",
       "['Services']", "['Bakery', 'Cafe', 'Casual Dining']",
       "['Club', 'Park', 'Catering']", "['Hotel', 'Motel']",
       "['Bar', 'Casinos', 'Catering', 'Resort']", "['Home Goods']",
       "['Cafe', 'Casinos', 'Hotel', 'Resort']",
       "['Casinos', 'Fine Dining', 'Hotel', 'Resort']",
       "['Cinema/Theater', 'Hotel', 'Bar']", "['Club', 'Cafe']",
       "['Camping', 'Bar', 'Resort']",
       "['Cinema/Theater', 'Club', 'Casinos']", "['Club', 'Park', 'Bar']",
       "['Fine Dining', 'Bar', 'Pub']", "['Park', 'Club', 'Bar', 'Cafe']",
       "['Cafe', 'Club']", "['Cafe', 'Bar', 'Bakery']",
       "['Casual Dining', 'Club']", "['Pub', 'Motel']",
       "['Casual Dining', 'Cinema/Theater']", "['Quick Service', 'Bar']",
       "['Pub', 'Hotel']", "['Quick Service', 'Catering']", "['Fuel']",
       "['Casual Dining', 'Bar', 'Catering']",
       "['Casual Dining', 'Catering', 'Bar']",
       "['Quick Casual', 'Catering']",
       "['Casinos', 'Pub', 'Catering', 'Hotel', 'Resort']",
       "['Catering', 'Casual Dining', 'Bar']",
       "['Casual Dining', 'Bar', 'Bakery']", "['Ghost Kitchen']",
       "['Cafe', 'Bakery', 'Bar']", "['Cafe', 'Pub']",
       "['Pub', 'Catering']", "['Casual Dining', 'Bar', 'Club']",
       "['Pub', 'Bar', 'Catering']",
       "['Casual Dining', 'Quick Service', 'Bar']",
       "['Catering', 'Bakery']", "['Buffet']", "['Buffet', 'Bar']",
       "['Casual Dining', 'Buffet']", "['Fine Dining', 'Buffet']",
       "['Buffet', 'Bakery']", "['Buffet', 'Quick Service']",
       "['Cafe', 'Buffet']", "['Catering', 'Buffet']",
       "['Casual Dining', 'Buffet', 'Bar']",
       "['Buffet', 'Bar', 'Quick Service']",
       "['Fine Dining', 'Buffet', 'Bar']",
       "['Fine Dining', 'Cafe', 'Bar']", "['B&B', 'Catering']",
       "['B&B', 'Bar']", "['B&B', 'Buffet']", "['B&B', 'Fine Dining']",
       "['B&B', 'Casinos']", "['Catering', 'Resort']", "['B&B', 'Pub']",
       "['B&B', 'Bar', 'Cafe']", "['B&B', 'Pub', 'Park']",
       "['B&B', 'Bakery']", "['B&B', 'Club', 'Bar']",
       "['Camping', 'Park', 'Pub']", "['Ghost Kitchen', 'Catering']",
       "['Cinema/Theater','Cafe']", "['Cinema/Theater','Casual Dining']",
       "['Cinema/Theater','Bar','Cafe']",
       "['Cinema/Theater','Cafe','Bar','Casual Dining']",
       "['Club','Catering']",
       "['Quick Casual', 'Quick Service', 'Buffet']",
       "['Cafe', 'Buffet', 'Bar']",
       "['Quick Casual', 'Quick Service', 'Buffet', 'Cafe']",
       "['Buffet', 'Cafe', 'Bar']", "['Buffet', 'Pub']",
       "['Buffet', 'Catering']", "['Quick Casual', 'Buffet']",
       "['Buffet', 'Cafe']", "['Buffet', 'Bar', 'Hotel', 'Pub']",
       "['Quick Casual','Bakery']", "['Quick Casual','Park']",
       "['Quick Casual','Bar']", "['Quick Casual','Cafe']",
       "['Quick Casual', 'Quick Service', 'Bakery']",
       "['Quick Casual', 'Quick Service', 'Cafe', 'Bar']",
       "['Quick Casual', 'Quick Service', 'Cafe']",
       "['Quick Casual', 'Casual Dining', 'Bar']",
       "['Quick Casual', 'Cafe', 'Bakery']",
       "['Quick Casual', 'Quick Service', 'Bar']",
       "['Quick Casual', 'Bar', 'Pub']",
       "['Bakery','Casual Dining', 'Cafe']", "['Bakery','Cafe']",
       "['Bakery','Catering']", "['Bakery','Food']",
       "['Bakery','Cafe','Food']", "['Bakery','Quick Casual']",
       "['Motel', 'Bar']", "['Motel', 'Catering']",
       "['Motel', 'Bar', 'Pub']", "['Motel', 'Park']"], dtype=object)

In [9]:
training['hecs_name'].value_counts()

['Casual Dining']                     1688
['Fine Dining']                       1289
['Pub']                                807
['Quick Casual']                       801
['Camping']                            740
                                      ...
['Bakery', 'Quick Casual']               1
['Camping', 'Resort', 'Buffet']          1
['Park', 'Club', 'Catering']             1
['Bar', 'Casinos', 'Quick Casual']       1
['Motel', 'Park']                        1
Name: hecs_name, Length: 285, dtype: int64

In [22]:
hecs_class = set()

for name in hecs_names:
    
    hecs_class.update(literal_eval(name))

In [31]:
pprint(hecs_class)

{'B&B',
 'Bakery',
 'Bar',
 'Buffet',
 'Cafe',
 'Camping',
 'Casinos',
 'Casual Dining',
 'Catering',
 'Cinema/Theater',
 'Club',
 'Electronics',
 'Fine Dining',
 'Food',
 'Fuel',
 'General Store',
 'Ghost Kitchen',
 'Home Goods',
 'Hotel',
 'Motel',
 'Other',
 'Park',
 'Personal Goods',
 'Pub',
 'Quick Casual',
 'Quick Service',
 'Resort',
 'Services'}

In [35]:
training[training['hecs_name'].str.contains(pat = 'Electronics')]

,brand_name,hecs_name,vertical,collect
2181,gstpad software,['Electronics'],['Retail'],manually
5772,Euro Catering,"['Food', 'Electronics']",['Retail'],manually
8033,situs dominoqq online -market judi online,['Electronics'],['Retail'],manually
8178,OKE Catering,"['Food', 'Electronics']",['Retail'],manually

In [37]:
training[training['hecs_name'].str.contains(pat = 'Fuel')]

              brand_name hecs_name    vertical   collect
9242  High's Dairy Store  ['Fuel']  ['Retail']  manually

In [39]:
training[training['brand_name'].str.contains(pat = 'fuel')]

     brand_name          hecs_name         vertical   collect
4936    fuel -   ['Casual Dining']  ['Hospitality']  manually

In [40]:
training[training['hecs_name'].str.contains(pat = 'Ghost Kitchen')]

                     brand_name          hecs_name         vertical   collect
9577            Hokka Hokka Tei  ['Ghost Kitchen']  ['Hospitality']  manually
11735          Ghost x Kitchens  ['Ghost Kitchen']  ['Hospitality']  manually
11736                 mademeals  ['Ghost Kitchen']  ['Hospitality']  manually
11737      Griller Kitchens Ltd  ['Ghost Kitchen']  ['Hospitality']  manually
11738             Karma Kitchen  ['Ghost Kitchen']  ['Hospitality']  manually
...                         ...                ...              ...       ...
12871           MrBeast Burger   ['Ghost Kitchen']  ['Hospitality']  manually
12872                Wing Squad  ['Ghost Kitchen']  ['Hospitality']  manually
12873   Big Phil’s Cheesesteaks  ['Ghost Kitchen']  ['Hospitality']  manually
12874               Philly King  ['Ghost Kitchen']  ['Hospitality']  manually
12875  Hootie’s Chicken Tenders  ['Ghost Kitchen']  ['Hospitality']  manually

[169 rows x 4 columns]

In [41]:
training[training['hecs_name'].str.contains(pat = 'Other')]

                             brand_name  hecs_name   vertical   collect
6055                  ryan&#39s express  ['Other']  ['Other']  manually
7021       platinum management services  ['Other']  ['Other']  manually
7029             Marriott International  ['Other']  ['Other']  manually
7034             white lodging services  ['Other']  ['Other']  manually
7073   courtyard by marriott san marcos  ['Other']  ['Other']  manually
7074      Superior Oil Company Building  ['Other']  ['Other']  manually
7152             838 riverside drive 6c  ['Other']  ['Other']  manually
7184                     stays by sudha  ['Other']  ['Other']  manually
7212                    Howard Greenley  ['Other']  ['Other']  manually
7282                  27 audobon apt 21  ['Other']  ['Other']  manually
7348              Wilshire Grand Center  ['Other']  ['Other']  manually
7377     the grand brighton - concierge  ['Other']  ['Other']  manually
7403     the grand brighton - breakfast  ['Other']  ['Other']  manually
7468                         3r 354 llc  ['Other']  ['Other']  manually
7495                   3 harbor park dr  ['Other']  ['Other']  manually
7672              Royal Dental Hospital  ['Other']  ['Other']  manually
8667                 red ryder brooklyn  ['Other']  ['Other']  manually
8759                         Marylebone  ['Other']  ['Other']  manually
8774           todd english enterprises  ['Other']  ['Other']  manually
8875                      walmer castle  ['Other']  ['Other']  manually
9041                          neuehouse  ['Other']  ['Other']  manually
9150                            England  ['Other']  ['Other']  manually
9279          noho hospitality group hq  ['Other']  ['Other']  manually
9330           anyway hospitality group  ['Other']  ['Other']  manually
9499                 The Yorkshire Post  ['Other']  ['Other']  manually
9605                             denver  ['Other']  ['Other']  manually
9691            northern hospitality mn  ['Other']  ['Other']  manually
10024                The New York Times  ['Other']  ['Other']  manually
10148           catch hospitality group  ['Other']  ['Other']  manually
10181                     the one group  ['Other']  ['Other']  manually
10259                  caprice holdings  ['Other']  ['Other']  manually
10404           samba brands management  ['Other']  ['Other']  manually
10580           paige hospitality group  ['Other']  ['Other']  manually
10653                        lore group  ['Other']  ['Other']  manually
10750               in good hospitality  ['Other']  ['Other']  manually

In [42]:
training[training['hecs_name'].str.contains(pat = 'Pub')]

,brand_name,hecs_name,vertical,collect
2843,crew bar & grill,"['Bar', 'Pub']",['Hospitality'],manually
2847,barrow street alehouse,"['Bar', 'Pub']",['Hospitality'],manually
2860,irish bred pub,['Pub'],['Hospitality'],manually
2881,the breakfast club canary - wharf & the breakf...,"['Pub', 'Casinos']",['Hospitality'],manually
2893,finnegan's pub,['Pub'],['Hospitality'],manually
...,...,...,...,...
13426,Redwood Farm - Dining & Carvery,"['Buffet', 'Pub']",['Hospitality'],manually
13458,The Pump on the Green Ltd,['Pub'],['Hospitality'],manually
13469,"The Gurkha - Buffet Restaurant, Hotel & Bar","['Buffet', 'Bar', 'Hotel', 'Pub']",['Hospitality'],manually
14137,Wings and Rings,"['Quick Casual', 'Bar', 'Pub']",['Hospitality'],manually
14524,New Inn Motel,"['Motel', 'Bar', 'Pub']",['Hospitality'],manually

In [44]:
training[training['hecs_name'].str.contains(pat = 'Quick Service')]

,brand_name,hecs_name,vertical,collect
1914,jp's pizza planet,['Quick Service'],['Hospitality'],manually
1915,Spoleto (restaurant),['Quick Service'],['Hospitality'],manually
1916,Rita's Italian Ice,['Quick Service'],['Hospitality'],manually
1917,Jack in the Box,['Quick Service'],['Hospitality'],manually
1918,SCR (restaurant),['Quick Service'],['Hospitality'],manually
...,...,...,...,...
14161,FritzMitte,"['Quick Casual', 'Quick Service']",['Hospitality'],manually
14162,Burgermeister Schlesisches Tor,"['Quick Casual', 'Quick Service']",['Hospitality'],manually
14163,Risa Chicken,"['Quick Casual', 'Quick Service']",['Hospitality'],manually
14164,Ba’Ghetto,"['Quick Casual', 'Quick Service']",['Hospitality'],manually
14670,NCR Local - Tri-State,['Quick Service'],['Hospitality'],NaN

same as **Bar**

In [10]:
training[training['brand_name'].duplicated()].sort_values(by='brand_name')

,brand_name,hecs_name,vertical,collect
1905,"Grosvenor Casino,",['Casinos'],['Hospitality'],manually
13576,&pizza,['Quick Casual'],['Hospitality'],manually
13166,180 Degree,"['Fine Dining', 'Buffet', 'Bar']",['Hospitality'],manually
1160,2 Mile Lodge,['B&B'],['Hospitality'],manually
13159,24/7 Restaurant,"['Cafe', 'Buffet']",['Hospitality'],manually
...,...,...,...,...
13608,village den,['Quick Casual'],['Hospitality'],manually
11874,virtual restaurant,['Ghost Kitchen'],['Hospitality'],manually
13651,wichcraft,['Quick Casual'],['Hospitality'],manually
13531,zoës kitchen,['Quick Casual'],['Hospitality'],manually
13232,Çiya Sofrası,['Buffet'],['Hospitality'],manually

#### Duplicat values

In [48]:
training[training['brand_name'].duplicated()].sort_values(by='brand_name')

,brand_name,hecs_name,vertical,collect
1905,"Grosvenor Casino,",['Casinos'],['Hospitality'],manually
13576,&pizza,['Quick Casual'],['Hospitality'],manually
13166,180 Degree,"['Fine Dining', 'Buffet', 'Bar']",['Hospitality'],manually
1160,2 Mile Lodge,['B&B'],['Hospitality'],manually
13159,24/7 Restaurant,"['Cafe', 'Buffet']",['Hospitality'],manually
...,...,...,...,...
13608,village den,['Quick Casual'],['Hospitality'],manually
11874,virtual restaurant,['Ghost Kitchen'],['Hospitality'],manually
13651,wichcraft,['Quick Casual'],['Hospitality'],manually
13531,zoës kitchen,['Quick Casual'],['Hospitality'],manually
13232,Çiya Sofrası,['Buffet'],['Hospitality'],manually

In [51]:
training_df = training[~training['brand_name'].duplicated()].copy()

In [52]:
training_df.describe()

       brand_name          hecs_name         vertical   collect
count       13558              13558            13558     13557
unique      13558                278                5         1
top      El Cerdo  ['Casual Dining']  ['Hospitality']  manually
freq            1               1665            13374     13557

### clear hecs_name

In [63]:
def clear_hecs(hecs_name):
    
    hecs_name = literal_eval(hecs_name)
    
    for index, name in enumerate(hecs_name):
        hecs_name[index] = name.replace(' ', '_')
        
    return ' '.join(hecs_name)

In [65]:
training_df['hecs_name'] = training_df['hecs_name'].apply(clear_hecs)

In [68]:
training_df['hecs_name'].unique()

array(['Fine_Dining', 'Bakery', 'Bakery Food', 'Food', 'Casual_Dining',
       'Bakery Cafe', 'Casual_Dining Bakery', 'B&B', 'Casinos Hotel',
       'Casinos', 'Casinos Resort', 'Quick_Service', 'Quick_Casual',
       'Cafe', 'Cafe Bakery', 'Electronics', 'Catering', 'Club',
       'Catering Casual_Dining', 'Casual_Dining Catering',
       'Catering Cafe', 'Catering Quick_Casual', 'Catering Quick_Service',
       'Cafe Quick_Casual', 'Cafe Fine_Dining', 'Cafe Bar',
       'Quick_Casual Bakery', 'Bar Fine_Dining', 'Bar',
       'Bar Casual_Dining', 'Bar Pub', 'Pub', 'Bar Casinos',
       'Pub Casinos', 'Resort Casinos', 'Casinos Catering',
       'Pub Fine_Dining', 'Bar Quick_Casual', 'Bar Catering',
       'Bar Casual_Dining Casinos', 'Personal_Goods',
       'Catering Bar Casual_Dining', 'Bar Pub Casinos', 'Bar Cafe',
       'Pub Casual_Dining', 'Bar Casinos Casual_Dining',
       'Bar Casinos Pub', 'Bar Club', 'Camping', 'Camping Park', 'Resort',
       'Motel', 'Motel Camping', 'Motel Bar Casual_Dining', 'Hotel',
       'Casual_Dining Bar', 'Cinema/Theater', 'Park',
       'Club Bar Fine_Dining', 'Club Park',
       'Cinema/Theater Casual_Dining', 'Quick_Casual Park',
       'Park Casual_Dining', 'Park Club', 'Club Casual_Dining Bar',
       'Casinos Hotel Resort', 'Bar Hotel', 'Casinos Bar Casual_Dining',
       'Fine_Dining Quick_Casual', 'Cafe Quick_Service', 'Camping Resort',
       'Quick_Casual Quick_Service', 'Cinema/Theater Catering',
       'Camping Hotel', 'Catering Casinos', 'Resort Cafe',
       'Casual_Dining Bar Pub', 'Hotel Resort', 'Park Bar Cafe',
       'Quick_Casual Bar', 'Cafe Casual_Dining', 'Quick_Casual Cafe',
       'Camping Hotel Resort', 'Fine_Dining Casual_Dining',
       'Casual_Dining Cafe', 'Camping Pub', 'Casinos Bar',
       'Park Cafe Bar Catering', 'Bar Fine_Dining Resort', 'Resort Hotel',
       'Bakery Cafe Quick_Casual', 'Bar Hotel Casinos', 'Pub Bar',
       'Camping Resort Park', 'Casinos Hotel Resort Club',
       'Hotel Catering', 'Club Bar', 'Park Bar', 'Bar Pub Casual_Dining',
       'Bar Casinos Hotel', 'Casinos Cinema/Theater', 'Fine_Dining Bar',
       'Bar Casual_Dining Pub', 'Casual_Dining Hotel', 'Fine_Dining Food',
       'Park Catering', 'General_Store', 'Casual_Dining Quick_Service',
       'Casual_Dining Pub Cafe', 'Casinos Quick_Casual', 'Club Catering',
       'Club Cinema/Theater', 'Pub B&B', 'Casinos Motel',
       'Bakery Casual_Dining', 'Bakery Catering', 'Casual_Dining Pub',
       'Cafe Catering', 'Casinos Catering Hotel', 'Camping Cafe',
       'Cinema/Theater Casinos Club', 'Fine_Dining Cafe',
       'Cinema/Theater Bar', 'Park Cafe Bar', 'Club Cafe Food',
       'Park Cafe', 'Food Electronics', 'Catering Hotel Resort',
       'Bar Cafe Casinos Hotel Resort', 'Catering Food', 'Camping Motel',
       'Club Cafe Catering', 'Hotel Casinos', 'Casinos General_Store',
       'Cinema/Theater Cafe', 'Bar Casinos Hotel Resort',
       'Bakery Cafe Food', 'Bakery Bar', 'Casinos Park Resort',
       'Bar Fine_Dining Cinema/Theater', 'Club Bar Cafe',
       'Camping Fine_Dining Cafe', 'Bar Hotel Resort',
       'Bar Casinos Resort', 'Catering Hotel', 'Casinos Hotel Camping',
       'Camping Resort Hotel', 'Pub Bar Casual_Dining', 'Other',
       'Park Resort', 'Cafe Food', 'Hotel Resort Casinos', 'Park Casinos',
       'Fine_Dining Bakery Cafe Bar', 'Club Resort', 'Hotel Pub',
       'Pub Hotel Bar', 'Casual_Dining Quick_Casual', 'Park Club Resort',
       'Cafe Hotel', 'Bakery Hotel', 'Personal_Goods Food',
       'Bar Casinos Catering', 'Bakery Quick_Casual',
       'Camping Resort Buffet', 'Park Club Catering',
       'Bar Casinos Quick_Casual', 'Fine_Dining Catering',
       'Hotel Resort Cinema/Theater', 'Club Cafe Bar',
       'Cafe Catering Quick_Casual', 'Club Quick_Casual',
       'Catering Hotel Club', 'Club Quick_Casual Park',
       'Cafe Quick_Service Catering', 'Cinema/Theater Casinos',
       'Cinema/Theater Catering Bar', 'Club Quick_Service', 'Camping B&B',
       'Club Park Bar Cafe', 'Park Club Cinema/Theater',
       'Camping Hotel Park', 'Park Club Bar', 'Club Bar Catering',
       'Quick_Service Casual_Dining', 'Casual_Dining Bar Cafe',
       'Casual_Dining Park', 'Services', 'Bakery Cafe Casual_Dining',
       'Club Park Catering', 'Hotel Motel', 'Bar Casinos Catering Resort',
       'Home_Goods', 'Cafe Casinos Hotel Resort',
       'Casinos Fine_Dining Hotel Resort', 'Cinema/Theater Hotel Bar',
       'Club Cafe', 'Camping Bar Resort', 'Cinema/Theater Club Casinos',
       'Club Park Bar', 'Fine_Dining Bar Pub', 'Park Club Bar Cafe',
       'Cafe Club', 'Cafe Bar Bakery', 'Casual_Dining Club', 'Pub Motel',
       'Casual_Dining Cinema/Theater', 'Quick_Service Bar', 'Pub Hotel',
       'Quick_Service Catering', 'Fuel', 'Casual_Dining Bar Catering',
       'Casual_Dining Catering Bar', 'Quick_Casual Catering',
       'Casinos Pub Catering Hotel Resort', 'Catering Casual_Dining Bar',
       'Casual_Dining Bar Bakery', 'Ghost_Kitchen', 'Cafe Bakery Bar',
       'Cafe Pub', 'Pub Catering', 'Casual_Dining Bar Club',
       'Pub Bar Catering', 'Casual_Dining Quick_Service Bar',
       'Catering Bakery', 'Buffet', 'Buffet Bar', 'Casual_Dining Buffet',
       'Fine_Dining Buffet', 'Buffet Bakery', 'Buffet Quick_Service',
       'Cafe Buffet', 'Catering Buffet', 'Casual_Dining Buffet Bar',
       'Buffet Bar Quick_Service', 'Fine_Dining Buffet Bar',
       'Fine_Dining Cafe Bar', 'B&B Catering', 'B&B Bar', 'B&B Buffet',
       'B&B Fine_Dining', 'B&B Casinos', 'Catering Resort', 'B&B Pub',
       'B&B Bar Cafe', 'B&B Pub Park', 'B&B Bakery', 'B&B Club Bar',
       'Camping Park Pub', 'Ghost_Kitchen Catering',
       'Cinema/Theater Bar Cafe', 'Cinema/Theater Cafe Bar Casual_Dining',
       'Quick_Casual Quick_Service Buffet', 'Cafe Buffet Bar',
       'Quick_Casual Quick_Service Buffet Cafe', 'Buffet Pub',
       'Buffet Catering', 'Quick_Casual Buffet', 'Buffet Cafe',
       'Buffet Bar Hotel Pub', 'Quick_Casual Quick_Service Bakery',
       'Quick_Casual Quick_Service Cafe Bar',
       'Quick_Casual Quick_Service Cafe',
       'Quick_Casual Casual_Dining Bar', 'Quick_Casual Quick_Service Bar',
       'Bakery Casual_Dining Cafe', 'Motel Bar', 'Motel Catering',
       'Motel Bar Pub', 'Motel Park'], dtype=object)

# Web Scraping Google Images

In [85]:
from bs4 import BeautifulSoup 
import requests
from uuid import uuid4
import os
import string

In [70]:
request_link = 'https://www.google.com/search?site=&tbm=isch&source=hp&biw=1873&bih=990&'

user_agnt = { 
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/105.0.0.0 Safari/537.36',
    'Accept': 'text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8',
    'Accept-Charset': 'ISO-8859-1,utf-8;q=0.7,*;q=0.3',
    'Accept-Encoding': 'none',
    'Accept-Language': 'en-US,en;q=0.8',
    'Connection': 'keep-alive',
}

In [87]:
def download_images(keyword, num_images, image_folder, prefix_path=''):
    """scraping imgae from google imgaes given keywords

    Args:
        keyword (str): search keyword
        num_images (str): the number of images you want
        Image_Folder (str): _description_
    """
    
    search_url = request_link + 'q=' + keyword 
    full_path= prefix_path + image_folder
    
    if not os.path.exists(full_path):
        os.mkdir(full_path)
    
    # request url, without u_agnt the permission gets denied
    response = requests.get(search_url, headers=user_agnt)
    html = response.text #To get actual result i.e. to read the html data in text mode
    
    # find all img where class='rg_i Q4LuWd'
    b_soup = BeautifulSoup(html, 'html.parser') #html.parser is used to parse/extract features from HTML files
    results = b_soup.findAll('img', {'class': 'rg_i Q4LuWd'})
    
    #extract the links of requested number of images with 'data-src' attribute and appended those links to a list 'imagelinks'
    #allow to continue the loop in case query fails for non-data-src attributes
    count = 0
    imagelinks= []
    for res in results:
        try:
            link = res['data-src']
            imagelinks.append(link)
            count = count + 1
            if count >= num_images:
                break
            
        except:
            continue
    
  
    for num, imagelink in enumerate(imagelinks):
        # open each image link and save the file
        response = requests.get(imagelink)
        
        imagename = f"{full_path}/{keyword.translate(str.maketrans('', '', string.punctuation))}_{uuid4()}.jpg"
        with open(imagename, 'wb') as file:
            file.write(response.content)

In [73]:
brand_name = training_df['brand_name'].to_numpy()
hecs_name = training_df['hecs_name'].to_numpy()

len(hecs_name), len(brand_name)

(13558, 13558)

In [88]:
for brand, hecs in zip(brand_name, hecs_name):
    try:
        download_images(brand, 2, hecs, prefix_path='hecs_name/')
    except:
        continue